*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    user-select: none;
}

:root {
    --red: #fa4848;
    --blue: #61a1d5;
    --white: #efefef;
    --black: #1e1e1e;
    --yellow: #ffea00;
}

body {
    background: var(--yellow);
}

body * {
    font-family: 'Luckiest Guy', cursive;
}

/* header */

header {
    margin: 0 0 24px 0;
    padding: 12px 24px;
}

header > img {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

/* main */

#main_button {
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto 24px auto;
    text-align: center;
    line-height: 280px;
    background: var(--red);
    border: 5px solid var(--black);
    border-radius: 140px;
    font-size: 64px;
    font-weight: bolder;
}

#main_button:active {
    filter: brightness(1.5);
}

#retry_button {
    background: var(--blue);
    width: 160px;
    height: 64px;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    color: var(--white);
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 8px;
}