*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    user-select: none;
}

:root {
    --red: #fa4848;
    --blue: #61a1d5;
    --white: #efefef;
    --black: #1e1e1e;
    --yellow: #ffea00;
}

html {
    touch-action: manipulation;
}

body {
    background: var(--yellow);
}

body * {
    font-family: 'Luckiest Guy', cursive;
    color: var(--black);
}

/* header */

header {
    margin: 0 0 24px 0;
    padding: 12px 24px;
}

header > img {
    display: block;
    width: 100vw;
    max-width: 320px;
    margin: 0 auto;
}

#open_rule,
#close_rule {
    display: block;
    width: 120px;
    background: var(--blue);
    color: var(--white);
    line-height: 48px;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
}

/* main */

#main_button {
    display: block;
    width: 280px;
    height: 280px;
    margin: 0 auto 24px auto;
    text-align: center;
    line-height: 280px;
    background: var(--red);
    border: 5px solid var(--black);
    border-radius: 140px;
    font-size: 64px;
    font-weight: bolder;
}

#main_button:active {
    filter: brightness(1.5);
}

#main_button[disabled] {
    cursor: unset;
}

#main_button[disabled]:active {
    filter: none;
}

#retry_button {
    background: var(--blue);
    width: 160px;
    height: 64px;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    color: var(--white);
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 8px;
}

.button_text {
    position: relative;
    top: 3px;
}

.button_text.white {
    color: var(--white);
}

.button_text.black {
    color: var(--black);
}

#rule_modal {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #1e1e1eee;
}

#rule_modal * {
    font-family: sans-serif;
}

#rule_modal_wrapper {
    background: var(--yellow);
    width: 90vw;
    max-width: 320px;
    padding: 24px 12px;
    border-radius: 12px;
}

#rule_modal_wrapper h3 {
    text-align: center;
    margin: 0 0 12px 0;
}

#rule_modal_wrapper ul {
    margin: 0 0 12px 0;
}

#rule_modal_wrapper  li {
    margin-left: 1em;
}

#rule_modal_wrapper li>span {
    vertical-align: -2px
}